*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/app/.cxx/
/app_asm_plugin_repo/
/app_apt_annotation/repository/
/app_apt_compiler/repository/
/app_asm_plugin/repository/
